/* CSS DIRECTORY
        1. =PRIMARY
        3. =HOME
        4. =RECCENT WORK
        4. =CONTACT
        5. =PROJECTS
*/

/* =================
   PRIMARY SETTINGS
==================== */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1C1C1A;
}

body {
  color: #1C1C1A;
  font: 1em/1.5 'Roboto', sans-serif;
  font-weight: 600;
  height: 100%;
  margin: 0;
  background-color: #2292A4;
}

.container {
  display: flex;
}

.fadeIn {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/* Page Backgrounds */
#homeContent  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  min-height: calc(100vh - 245px);
}

#homeBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2292A4;
  z-index: -1;
}

#workBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #BDBF09;
  z-index: -1;
}

#khaBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #BDBF09;
  z-index: -1;
}

#contactBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D96C06;
  z-index: -1;
}

/* =================
   HOME SETTINGS
==================== */

.App h1 {
  margin: 0;
}

#logo {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  margin: 0 1rem;
  padding-top: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.3rem;
}

#about {
  margin-top: 3rem;
}

#brandName {
  font-size: 2.8rem;
}

#aboutImage {
  width: 17rem;
  transform: rotate(8.9deg);
}
 
#rectangle {
  position: absolute;
  width: 17rem;
  height: 11.3rem;
  background: #D96C06;
  transform: rotate(3.36deg);
}

#aboutCopy {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.3rem;
  color: #F5EFED;
  margin-top: 1.5rem;
}

/* =================
   NAVIGATION
==================== */

#mainNav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

#mainNav .button {
  background-color: #BDBF09;
  border: none;
  padding-top: 1rem;;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 9rem;
  font-weight: bold;
  font-size: 1.2rem;
}

#mainNav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

/* =================
   RECENT WORK
==================== */



/* =================
   CONTACT
==================== */
#contact .main-content {
  min-height: calc(100vh - 120px);
}

#contactForm label {
  display: flex;
  flex-direction: column;
}

#contact,
#recentWork {
  width: 90%;
  margin: auto;
}

#contactForm {
  max-width: 500px;
  margin: auto;
}

#contact h1,
#recentWork h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Oswald', sans-serif;
}

#backButton {
  width: 100%;
  text-align: right;
}

#backButton {
  font-size: 2rem;
  font-weight: bold;
}

#contactForm p:last-of-type {
  width: 100%;
  text-align: center;
}

#contactSend {
  background-color: #2292A4;
  border: none;
  padding-top: 1rem;;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 9rem;
  font-weight: bold;
  font-size: 1.2rem;
}

#contactForm textarea {
  height: 150px;
}

#contactForm input,
#contactForm textarea {
  border: none;
}